@import "tailwindcss";

.iconStyle {
display: inline;
}

a{
    text-decoration: none;
    color: #387ed1;
    font-weight: 600;
}

li a {
    color: #777777;
    font-weight: normal;
}

ul li a:hover{
    color: #387ed1;
}

.py-3 li a {
    color: #387ed1;
}